extends partial/layout

block head
  include partial/google_ad

block container
    include mixins/post
    +posts()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
